{{ define "home/index" }}
{{ template "layout/header" . }}
<div class="p-index">
  <div class="p-index__inner l-inner">
    <form class="p-index__form" action="/tweets" method="post">
      <input class="p-index__form-hidden" type="hidden" name="_csrf" value="{{ .csrf_token }}" />
      <textarea class="p-index__form-input" name="tweet" rows="3" placeholder="いまどうしてる？" maxlength="140"></textarea>
      <button class="p-index__form-button" type="submit">ツイートする</button>
    </form>
    {{ if .success }}
      <p class="p-index__success">{{ .success }}</p>
    {{ end }}
    {{ if .errors }}
      <ul class="p-index__errors">
        {{ range .errors }}
          <li>{{ .Message }}</li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>
{{ template "layout/footer" . }}
{{ end }}