*, *::before, *::after {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

input,
select,
button,
textarea {
  font-family: inherit;
}

address {
  font-style: normal;
}

.l-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.p-header {
  border-bottom: 1px solid #e0e0e0;
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

.p-header__title {
  font-size: 24px;
  font-weight: bold;
  color: #00acee;
}

.p-header__nav {
  display: flex;
  gap: 20px;
}

.p-header__nav-list {
  display: flex;
  gap: 20px;
}

.p-auth-form__inner {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 1rem;
}

.p-auth-form__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.p-auth-form__form-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.p-auth-form__form-label {
  font-size: 0.875rem;
  font-weight: bold;
}

.p-auth-form__form-error {
  color: red;
  font-size: 0.875rem;
  font-weight: bold;
}

.p-auth-form__form-button {
  width: 100%;
  margin-top: 1rem;
}

.p-index__inner {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1rem;
}

.p-index__form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  height: 5rem;
}

.p-index__form-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5rem;
  background-color: #00acee;
  color: #fff;
  margin-top: 1rem;
}

.p-index__success {
  margin-top: 1rem;
  color: #00acee;
  text-align: center;
}
