{{ define "auth/signup" }}
{{ template "layout/header" . }}
<div class="p-signup">
  <div class="p-signup__inner l-inner">
    <h1 class="p-signup__title">新規登録</h1>

    <form action="/signup" method="post" class="p-signup__form">
      <!-- CSRF Token -->
      <input type="hidden" name="_csrf" value="{{ .csrf_token }}">

      {{ range .errors }}
      {{ if eq .Field "email" }}
      <p class="p-signup__form-error">{{ .Message }}</p>
      {{ end }}
      {{ end }}
      <div class="p-signup__form-item">

        <label for="email" class="p-signup__form-label">メールアドレス</label>
        <input type="email" id="email" class="p-signup__form-input" name="email" value="{{ .email }}">
      </div>

      {{ range .errors }}
      {{ if eq .Field "password" }}
      <p class="p-signup__form-error">{{ .Message }}</p>
      {{ end }}
      {{ end }}
      <div class="p-signup__form-item">
        <label for="password" class="p-signup__form-label">パスワード</label>
        <input type="password" id="password" class="p-signup__form-input" name="password">

      </div>

      <div class="p-signup__form-item">
        <label for="password_confirmation" class="p-signup__form-label">パスワード（確認用）</label>
        <input type="password" id="password_confirmation" class="p-signup__form-input" name="password_confirmation">
      </div>
      <div class="p-signup__form-item">
        <button type="submit" class="p-signup__form-button">新規登録</button>
      </div>
    </form>
  </div>
</div>
{{ template "layout/footer" . }}
{{ end }}