{{ define "layout/header" }}
<!DOCTYPE html>
<html lang="ja">
  <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Golang Twitter</title>
   <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
  <header class="p-header">
    <div class="p-header__inner l-inner">
      <h1 class="p-header__title">Golang Twitter</h1>
      <nav class="p-header__nav">
        <ul class="p-header__nav-list">
          <li class="p-header__nav-item">
            <a href="/" class="p-header__nav-link">Home</a>
          </li>
          <li class="p-header__nav-item">
            <a href="/" class="p-header__nav-link">Home</a>
          </li>
          <li class="p-header__nav-item">
            <a href="/" class="p-header__nav-link">Home</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
{{ end }}